@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #0F0F0F;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tictactoe {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
    grid-template-areas:
        "box1 box2 box3"
        "box4 box5 box6"
        "box7 box8 box9";
}

.box {
    width: 100px;
    height: 100px;
    background-color: white;
    color: #0F0F0F;
    font-size: xx-large;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.box1 {
    grid-area: box1;
}

.box2 {
    grid-area: box2;
}

.box3 {
    grid-area: box3;
}

.box4 {
    grid-area: box4;
}

.box5 {
    grid-area: box5;
}

.box6 {
    grid-area: box6;
}

.box7 {
    grid-area: box7;
}

.box8 {
    grid-area: box8;
}

.box9 {
    grid-area: box9;
}

#resetbtn{
    display: none;
    padding: 15px;
    background-color: lightgreen;
    border: 1px solid black;
    font-size: larger;
    border-radius: 15px;
}

.winnerClass{
    background-color: lightgreen;
}